<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Padaria</title>

    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-United.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Padaria.styles.css" asp-append-version="true" />
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <header>
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-info shadow-sm">
            <div class="container-fluid">
                <a class="navbar-brand mx-auto" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/file.png" class="img-fluid" style="width: 75px" alt="Logo Padaria" />
                </a>

                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

               
                <div class="navbar-collapse collapse d-lg-flex justify-content-center">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-light px-3 py-2" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="bi bi-cash-stack"></i> Venda
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light px-3 py-2" asp-area="" asp-controller="Contas" asp-action="Index">
                                <i class="bi bi-file-earmark"></i> Registro
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light px-3 py-2" asp-area="" asp-controller="Produtos" asp-action="Index">
                                <i class="bi bi-box"></i> Produtos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light px-3 py-2" asp-area="" asp-controller="Encomendas" asp-action="Index">
                                <i class="bi bi-basket"></i> Encomendas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light px-3 py-2" asp-area="" asp-controller="Clientes" asp-action="Index">
                                <i class="bi bi-person"></i> Clientes
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
  

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
