@{
    ViewData["Title"] = "Index";
}


<div class="container text-center mt-5">

    <div class="mb-4">
        
        <img src="~/images/file.png" class="img-fluid rounded-circle shadow" style="width: 150px;" alt="Logo Padaria" />
    </div>

    
    <h1</h1>

   
    <form asp-action="Create">
      
        <button class="btn btn-lg btn-info text-white shadow-sm" type="submit">
            <i class="bi bi-basket-fill"></i> Iniciar Novo Atendimento
        </button>
    </form>
</div>