@model Padaria.Models.Produto

@{
    ViewData["Title"] = "Criar Produto";
}

<h1 class ="mt-4 mb-4">Criar Produto</h1>


<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="form-group mb-3">
                <label asp-for="Codigo" class="form-label"></label>
                <input asp-for="Codigo" class="form-control" placeholder="Digite o código do produto" autofocus />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Nome" class="form-label"></label>
                <input asp-for="Nome" class="form-control" placeholder="Digite o nome do produto" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Preco" class="form-label"></label>
                <input asp-for="Preco" class="form-control" id="preco" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Tipo" class="form-label"></label>
                <select asp-for="Tipo" asp-items="Html.GetEnumSelectList<Padaria.Models.Enums.Tipo>()" class="form-select">
                    <option value="">Selecione o tipo</option>
                </select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="QntDisponiveis" class="form-label"></label>
                <input asp-for="QntDisponiveis" class="form-control" placeholder="Quantidade disponível" />
                <span asp-validation-for="QntDisponiveis" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Criar</button>
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-secondary">Voltar à Lista</a>
</div>

@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#preco').mask('000.000.000.000.000,00', { reverse: true });
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="@Url.Content("~/js/jquery.validate.pt-BR.js")"></script>

    
}